<!-- <mat-toolbar  color="primary">
  <h2>Streams</h2>
</mat-toolbar> -->
<div class="container">
<mat-card>
  <mat-card-title>
    <h2 color="primary">Angular Streams</h2>
  </mat-card-title>
  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" >
  <mat-card-content>
 
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput 
        name="username"
        [(ngModel)]="model.username"
        placeholder="Email" 
        required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput 
        name="password"
        [(ngModel)]="model.password"
        type="password" 
        placeholder="Password" 
        required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
  
  </mat-card-content>

  <mat-dialog-actions align="end">
    
    <button mat-raised-button cdkFocusInitial color="primary" type="submit">Login</button>
    <!-- <button mat-button [mat-dialog-close] >Cancel</button> -->
  </mat-dialog-actions> 
</form>
</mat-card>
</div>