<mat-nav-list>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Paul Kane</mat-card-title>
      <mat-card-subtitle>Operations Manager</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>


  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a> 
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a> 
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
    Articles</a> 
    <mat-divider></mat-divider>



<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
  <mat-icon>import_contacts</mat-icon>Import
</a>
<mat-divider></mat-divider>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
  <mat-icon>import_contacts</mat-icon>Save
</a>

</mat-card-content>
</mat-card>
    </mat-nav-list> 