.header, .dialog-message {
    text-transform: lowercase;
}
.header::first-letter, .dialog-message::first-letter {
    text-transform: uppercase;
}

.toolbar-spacer {
    flex: 1 1 auto;
  }

  mat-card-actions {
    display: flex;
  }