<div class="container">
  <form [formGroup]="registerForm"  autocomplete="off" (ngSubmit)="register()">
    <h2>Edit Project:</h2>
  <mat-card>
    
    <br>
      <div class="row">
        <div class="col-6">
          <app-text-input
            [formControl]="registerForm.controls['name']"
            [label]="'Project Name'"
          ></app-text-input>

          <!-- <app-text-input
            [formControl]="registerForm.controls['active']"
            [label]="'Active'"
          ></app-text-input> -->



        <div class="radios">

          <mat-radio-group [formControl]="registerForm.controls['priority']"  color="primary">
              <mat-radio-button value="1">High</mat-radio-button>
              <mat-radio-button value="2">Medium</mat-radio-button>
              <mat-radio-button value="3">Low</mat-radio-button>
          </mat-radio-group>
          
        </div>  

        <div class="">
          <mat-checkbox  [formControl]="registerForm.controls['active']" name="active" id="active" color="primary">Complete</mat-checkbox>
      </div>




        </div>
        <div class="col-6">
          <app-text-input
            [formControl]="registerForm.controls['owner']"
            [label]="'Project Owner'"
          ></app-text-input>

          <app-date-input
            [formControl]="registerForm.controls['started']"
            [label]="'Started'"
          ></app-date-input>
          <app-date-input
            [formControl]="registerForm.controls['deadline']"
            [label]="'Deadline'"
          ></app-date-input>

          <app-date-input
          [formControl]="registerForm.controls['completed']"
          [label]="'Completed'"
        ></app-date-input>

        </div>
      </div>
        
  </mat-card>
      <div class="row">
          <div class="col-12">
                <mat-card-actions align="end">
                    <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
                    <button mat-raised-button type="submit" color="primary" [disabled]='!registerForm.valid'>Submit</button>
                </mat-card-actions>
          </div>
      </div>

<!-- 
  <p>FORM VALUE: {{ registerForm.value | json }}</p>
  <p>FORM STATUS: {{ registerForm.status | json }}</p> 
  <p>MY PROJECT: {{ myProject | json }}</p>  -->
</form>
</div>
