mat-card {
    width: 400px;
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-center {
    margin: 0 auto;
  }

  button, mat-slide-toggle {
    margin-bottom: 2rem;
    margin-right: 20px;
  }

  mat-form-field {
    display: block;
    width: 100%;
  }

  mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }


  