<div class="form-group">

    <mat-form-field [floatLabel]="'always'">
        <mat-label>{{label}}</mat-label>
        <input matInput  [matDatepicker]="picker2"  placeholder="" [formControl]='ngControl.control'>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">{{label}} is required</div>
</div>

