.example-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding: 0px;
}

.side_header {
  margin-top: 15px;
  margin-left: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.sidebarHeader {
  display: flex;
  width: 100%;
}

.m-20 {
  margin-top: 10px;
}

.active-list-item {
  color: rebeccapurple !important; /* Note: You could also use a custom theme */
}

.active {
  background-color: #f5f5f5;
}

.listImage {
  width: 50px;
  height: 50px;
}
.sidebarImage {
  margin-top: 10px;
  margin-left: 10px;
  width: 35px;
}
.example_icon {
  margin-top: 5px;
}

.my-header-image {
  background-image: url("../../../assets/images/streams_logo100.png");
  background-size: cover;
  margin-right: 10px;
  margin-left: -40px;
}

.lock_icon {
  width: 300px;
  text-align: right;
  align-items: flex-end;
}
