
<div class="container-fluid">
    <form [formGroup]="registerForm"  autocomplete="off" (ngSubmit)="onSubmit()">
      <h2>{{formTitle}}</h2>
        <mat-card>

          
          <!-- // ** Available columns **
          // number
          // project_image
          // id *
          // name *
          // project-key *
          // project-type
          // workstream *
          // organisation
          // active *
          // description
          // owner
          // priority *
          // completed *
          // deadlineDate *
          // startDate *
          // completedDate *
          // createdDate
          // actions -->
     
      <br>
        <div class="row">
            <div class="col-6">
                <app-text-input
                [formControl]="registerForm.controls['name']"
                [label]="'Project Name'"
                ></app-text-input>

                <app-text-input
                [formControl]="registerForm.controls['projectkey']"
                [label]="'Key'"
                ></app-text-input>



                <div class="radios">
                    <mat-radio-group [formControl]="registerForm.controls['priority']"  color="primary">
                        <mat-radio-button value="1">High</mat-radio-button>
                        <mat-radio-button value="2">Medium</mat-radio-button>
                        <mat-radio-button value="3">Low</mat-radio-button>
                    </mat-radio-group>
                </div>  

                <div class="">
                  <mat-checkbox  [formControl]="registerForm.controls['active']" name="active" id="active" color="primary">Active</mat-checkbox>
                </div>

                <div class="">
                    <mat-checkbox  [formControl]="registerForm.controls['completed']" name="completed" id="completed" color="warn">Complete</mat-checkbox>
                </div>



            </div>
            <div class="col-6">   
              <mat-form-field floatLabel="always" class="mySelect">
                <mat-label>Workstream</mat-label>
                <mat-select [formControl]="registerForm.controls['workstream']" name="workstream">
                    <mat-option value="1">Streams</mat-option>
                    <mat-option value="2">PMO</mat-option>
                </mat-select>
            </mat-form-field>

                <app-text-input
                [formControl]="registerForm.controls['owner']"
                [label]="'Project Owner'"
              ></app-text-input>
    
              <app-date-input
                [formControl]="registerForm.controls['startDate']"
                [label]="'Started'"
              ></app-date-input>
              <app-date-input
                [formControl]="registerForm.controls['deadlineDate']"
                [label]="'Deadline'"
              ></app-date-input>
    
              <app-date-input
              [formControl]="registerForm.controls['completedDate']"
              [label]="'Completed'"
            ></app-date-input>
            </div>
        </div>
          
    </mat-card>
        <div class="row">
            <div class="col-12">
                  <mat-card-actions>
                    <span *ngIf="editMode" class="pl-2">
                      <button mat-button type="button" color="warn" (click)="removeProject()">Delete</button>
                    </span>
                    <span class="toolbar-spacer"></span>
                    <span>
                    <button mat-button mat-dialog-close type="button" (click)="cancel()">Cancel</button>
                    <button mat-raised-button type="submit" color="primary" [disabled]='!registerForm.valid'>Submit</button>
                    </span>
                  </mat-card-actions>
            </div>
        </div>
  
  
    <!-- <p>FORM VALUE: {{ registerForm.value | json }}</p>
    <p>FORM STATUS: {{ registerForm.status | json }}</p> 
    <p>MY PROJECT: {{ myProject | json }}</p>  -->
  </form>
  </div>
  